:root {
  // Maximum Width including scrollbar
  --maxW: calc(100vw - var(--scroll-width));

  //Colors
  --primary: #4c57fb;
  --light: #ffffff;
  --dark: #000000;
  --grey: #616e85;
  --light-grey: #eff2f5;
  --bg-color: #ecedff;
  --text-color: #222531;
}

html {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
}
